<div class="container">
    <div class="box">
        <h1 style="margin: 0;">Mrinal Chandra Sarkar</h1>
        <p style="margin: 0;">Statistics Graduate | Aspiring Data Analyst</p>
        
    </div>
    <div class="box">
        <ul style="list-style: none;">
            <li><a href="tel:+919593457937">9593457937</a></li>
            <li><a href="mailto:mrinalvbu@gmail.com">mrinalvbu@gmail.com</a></li>
            <li><a href="https://github.com/mrinalcs">mrinalcs</a></li>
            <li><a href="https://www.linkedin.com/in/mrinalcs/">mrinalcs</a></li>
        </ul>
    </div>
</div>