---
layout: default
---

<article>
  {%- include header.html -%}
   
    
  
    <h2>Education</h2>
    <div >
      <p>While my academic background is rooted in statistics, I've also developed a deep interest in web development. This dynamic field, with its blend of creativity and technical skills, has captivated me.</p>
      <ul>
        <li>
          <dl>
            <dt>Visva Bharati, Shantiniketan</dt>
            <dd>Bachelor of Science in Statistics</dd>
            <dd>2020 - 2023</dd>
            <dd>Grade: A+</dd>
          </dl>          
        </li>
        <li>
          <dl>
            <dt>Visva Bharati, Shantiniketan</dt>
            <dd>Master of Science in Statistics</dd>
            <dd>2023 - Present</dd>
          </dl> 
        </li>
      </ul>
    </div>
  
    <h2>Skills</h2>
    <div>
      <ul>
        <li>Python (Programming Language)</li>
        <li>R (Programming Language)</li>
        <li>Basic C Programming</li>
        <li>Statistical Data Analysis</li>
        <li>Microsoft Excel</li>
        <li>Latex Mathematical Writting (MikText,Mathjs)</li>
        <li><a target="_blank" href="https://github.com/mrinalcs/wp-stat">WordPress Theme Development</a></li>
      </ul>
    </div>
  
    <h2>Projects</h2>
    <div  id="projects">
      <ul>
        <li><a href="https://github.com/mrinalcs/india-literacy">A look at literacy in India using R | Descriptive statistics | Analysis on Literacy rate | Census 2011</a></li>
        <li><a href="https://github.com/mrinalcs/body-performance">Statistical Analysis on Body Performance | Basic analysis on different factors and classes</a></li>
        <li><a href="https://github.com/mrinalcs/wp-stat">A website with file-based content management and an admin panel for simple updates, without database.</a></li>
        <li>wp-stat: A wordpress theme for Statistical writting</li>
      </ul>
  
      <p>Check my projects uploaded to github reposetories which are pinned in my github profile</p>
      
    </div>
  
    <div>
      <h2>Language</h2>
      <div>
          <span title="First language">বাংলা (Bengali)</span>,
          <span>English</span>, 
          <span>हिंदी (Hindi)</span>
      </div>
    </div>
    


    {%- include footer.html -%}
  </article>